{% extends 'layoutOut.html' %}

{% block title %}Inicio de Sesion{% endblock %}

{% block content %}

<section class="vh-100" >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="https://www.xtrafondos.com/wallpapers/vertical/carretera-en-otono-6185.jpg"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center" >
                <div class="card-body p-4 p-lg-5 text-black" >
  
                  <form method="POST">
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #375a7f;"></i>
                      <span class="h1 fw-bold mb-0">Bienvenido</span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Inicie sesión en su cuenta</h5>
  
                    <div class="form-outline mb-4">
                      <input 
                        type="Usuario" 
                        id="Usuario" 
                        class="form-control form-control-lg"  
                        name="Usuario" 
                        placeholder="Digite su usuario(cédula)"/>
                      <label class="form-label" for="Usuario">Usuario</label>
                    </div>
  
                    <div class="form-outline mb-4">
                      <input 
                        type="password" 
                        id="passw" 
                        class="form-control form-control-lg" 
                        name="passw" 
                        placeholder="Digite su contraseña" />
                      <label class="form-label" for="passw">Contraseña</label>
                    </div>
  
                    <div class="pt-1 mb-4">
                      <button class="btn btn-primary btn-lg" type="submit">Iniciar Sesion</button>
                    </div>
                    <p class="mb-5 pb-lg-2" style="color: #ffffff;">No tiene una cuenta? <a href="/iniciar/sesion/registro"
                        style="color: #ffffff;">Registrese Aquí</a></p>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}